
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Presupuestos Históricos</h2>
<p class="help-block">Haga click en los Enlaces para descargar.</p>

<div class="row">
    <div class="col-md-6">
        <div class="lista-reportes list-group">
            <a href="https://mega.nz/#!Ajh10Q4Q!X5EBNu8kmwa1J9uPpRm-xwn71rsEG7sVmsdE1JCL_HE" class="list-group-item" target="blank"><i class="glyphicon glyphicon-level-up"></i> 12.04.2017 Herramienta Presupuesto Ejecucion AN Bol 2017 (Completa con Formulas)</a>
            <a href="https://mega.nz/#!ly5lQQ6B!i1LxTWWPEjQndyM50tNRT-Grmcs7iCvCLYbmeuX2xPE" class="list-group-item" target="blank"><i class="glyphicon glyphicon-level-up"></i> 2018-04-13 Ejec 2017 - Ppto 2017 y 2018 - BD</a>
        </div>
    </div>
</div>

