<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="AccountingSosDBEntities" connectionString="metadata=res://*/Models.AccountingSosModel.csdl|res://*/Models.AccountingSosModel.ssdl|res://*/Models.AccountingSosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VLADDY-PC\SQLEXPRESS;Initial Catalog=AccountingSosDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False&quot;" providerName="System.Data.EntityClient" />
    <add name="AldeasInfantilesDBEntities" connectionString="metadata=res://*/Models.AldeasInfantilesModel.csdl|res://*/Models.AldeasInfantilesModel.ssdl|res://*/Models.AldeasInfantilesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLADDY-PC\SQLEXPRESS;initial catalog=AldeasInfantilesSOS;integrated security=True;encrypt=False;trustservercertificate=True;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlanillasSosDBEntities" connectionString="metadata=res://*/Models.PlanillasSosModel.csdl|res://*/Models.PlanillasSosModel.ssdl|res://*/Models.PlanillasSosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLADDY-PC\SQLEXPRESS;initial catalog=PlanillasSosDB;integrated security=True;encrypt=False;trustservercertificate=True;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>